.chat-bubble {
  background-color: #dbf1ff;
  font-size: 20px;
  position: relative;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  min-width: 50px;
  max-width: 300px;
  text-align: center;
  word-wrap: break-word;
}

.chat-bubble::before {
  z-index: -1;
  content: "";
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #dbf1ff;
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.chat-bubble-receive {
  background-color: #f2f6f9;
}

.chat-bubble-receive::before {
  left: initial;
  right: 5px;
  border-top: 20px solid #f2f6f9;
}