
.slideIn {
  position: relative;
}

.slideInPlay {
  animation: slideInAnim .5s ease-out;
}

.slideInPlayR {
  animation: slideInAnimR .5s ease-out;
}

@keyframes slideInAnim {
  from {
    left: 75%;
  }

  to {
    left: 0;
  }
}

@keyframes slideInAnimR {
  from {
    right: 75%;
  }

  to {
    right: 0;
  }
}